<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Library</h1>
<p><a href="/api/issue">Admin Issues</a> (доступно только для админов)</p>
<p><a href="/api/reader">Reader Section</a> (доступно только для читателей)</p>
<p><a href="/api/books">Books</a> (доступно для всех авторизованных пользователей)</p>
<p><a href="/logout">Logout</a></p>
</body>
</html>
